name: Linux

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    name: "${{matrix.os}} ${{matrix.compiler}}: ${{matrix.language}} sanitizers"
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        compiler: [clang-18, gcc-14]
        language: [C, CXX]
        os: [ubuntu-latest]
        include:
          - compiler: clang-18
            cc: clang-18
            cxx: clang++-18
            packages: clang-18 libc++-18-dev libc++abi-18-dev
          - compiler: gcc-14
            cc: gcc-14
            cxx: g++-14
            packages: g++-14 libstdc++-14-dev

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Install
      run: |
        sudo sysctl vm.mmap_rnd_bits=28
        sudo apt-get update
        sudo apt-get install ${{matrix.packages}} cmake ninja-build
        ${{matrix.cc}} --version
        ${{matrix.cxx}} --version
        cmake --version
        ninja --version
        cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure
      env:
        CC: ${{matrix.cc}}
        CXX: ${{matrix.cxx}}
      working-directory: ${{runner.workspace}}/build
      run: |
        cmake -DCMAKE_BUILD_TYPE=Debug -DLANGUAGE=${{matrix.language}} -G "Ninja" -S "${{github.workspace}}"

    - name: Build
      working-directory: ${{runner.workspace}}/build
      run: |
        cmake --build . --config Debug

    - name: Test
      working-directory: ${{runner.workspace}}/build
      run: |
        ctest --build-config Debug --repeat until-pass:10 --verbose
