name: Windows

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    name: "${{matrix.os}} ${{matrix.platform}} ${{matrix.toolset}} ${{matrix.build_type}}: ${{matrix.language}} sanitizers"
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        build_type: [Debug, Release]
        language: [C, CXX]
        os: [windows-latest]
        platform: [Win32, x64]
        toolset: [v143]

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'recursive'
  
    - name: Install
      run: |
        choco install cmake
        cmake --version
        cmake -E make_directory ${{runner.workspace}}/build

    - name: Configure
      working-directory: ${{runner.workspace}}/build
      run: |
        cmake -A ${{matrix.platform}} -DLANGUAGE=${{matrix.language}} -T ${{matrix.toolset}} -S "${{github.workspace}}"

    - name: Build
      working-directory: ${{runner.workspace}}/build
      run: |
        cmake --build . --config ${{matrix.build_type}}

    - name: Test
      working-directory: ${{runner.workspace}}/build
      run: |
        ctest --build-config ${{matrix.build_type}} --verbose
